.menu1 { /* boite qui contient le menu (les onglets) */  
   border-bottom:solid 1px grey ;/*  crée le trait noir en-dessous des onglets */  
   padding-top:2px ; /* marge intérieure haute */ 
   padding-bottom:2px; /* marge intérieure basse */     
   }  
 .ongletPub { /* style des liens se trouvant dans un onglet inactif */ 
   background-color: rgb(230,245,255); /* #E7E4E4le fond de l'onglet est gris */   
   /*background : url(onglet.gif) bottom no-repeat ;*/ 
   text-decoration:none; 
   border:solid 1px rgb(190,220,255) ; /* encadrement */ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
 }  
 .ongletPro { /* style des onglets inactifs */ 
   background-color: rgb(230,250,230); /* #E7E4E4le fond de l'onglet est gris */   
   text-decoration:none; 
   border:solid 1px rgb(180,230,150) ; /* encadrement */ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
 } /* marge intérieure */ 
 .ongletPriv { /* style des onglets inactifs */ 
  background-color: rgb(250,230,230); /*240,130,130240,100,100 #E7E4E4le fond de l'onglet est gris */   
   text-decoration:none; 
   border:solid 1px rgb(240,200,200) ; /* encadrement */ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
 } /* marge intérieure */    
 a.onglet { /* style des liens se trouvant dans un onglet inactif */ 
   background-color: rgb(240,240,240); /* #E7E4E4le fond de l'onglet est gris */     
   border:solid 1px rgb(220,220,220); /* encadrement text-decoration:none;*/ 
   margin:0px 0px 0px 0px ; /* marge extérieure */ 
   padding:0px 0px 0px 0px; 
   text-decoration:none; 
 }