@import "DSDoc.css";

/*------------------------ Doc Header ----------------------*/
table.table1 {
	width: 100%;
}

table.DocHeader {
/*	margin-left: 0pt; */
	width: 100%;
/*	background-color: white; */   
	margin-bottom: 8px;
}
table.Remark{
	width: auto;
}
td.remark {
	text-align: left;
}
/*------------------------ td for CAA ----------------------*/

td.tech {
/*	background-image: url('../CAAIcons/images/I_Overview.gif'); 
	background-repeat: no-repeat;
	background-position: left; */
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: bold;
/*	color: #025BB5; */
	color: #4B575F;       
/*	margin-left: 22px; */
/*	padding-left: 22px; */
}

td.use {
/*	background-image: url('../CAAIcons/images/I_UseCase.gif'); 
	background-repeat: no-repeat;
	background-position: left; */
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: bold;
/*	color: #025BB5; */
	color: #4B575F;       
/*	margin-left: 22px; */
/*	padding-left: 22px; */
}

td.quick {
/*	background-image: url('../CAAIcons/images/I_Reference.gif'); 
	background-repeat: no-repeat;
	background-position: left; */
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: bold;
/*	color: #025BB5; */
	color: #4B575F;
/*	margin-left: 22px; */
/*	padding-left: 22px;*/
}

td.extend {
	background-image: url('../CAAIcons/images/CAAExtend.png'); 
	background-repeat: no-repeat;
	background-position: left;
	font-family: Comic Sans MS, Verdana, Helvetica, sans serif;
	font-size: 12pt;
	font-weight: bold;
	color: #FF0000;       
/*	margin-left: 22px; */
/*	padding-left: 22px;*/
}

.ergo {
	padding: 0;
	border-spacing: 0;
}
.ergo1 {
	width: 40px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px outset #808080;
	border-right: 1px inset #808080;
	border-left: 1px solid #F0F0F0;
}
.ergo2 {
	width: 40px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px outset #808080;
	border-right: 1px outset #808080;
}
.ergo3 {
	padding: 15px;
	border-spacing: 0;
	width: 95%;
	border-top: 1px solid #F0F0F0;
	border-bottom: 1px outset #808080;
	border-right: 1px outset #808080;
	border-left: 1px solid #F0F0F0;
}
.ergo4 {
	padding: 0;
	border-spacing: 0;
}
  tr.odd  { background: #EEEEEE; }
  tr.even { background: #FFFFFF; }
/*-------------------Headings for CAA ----------------------*/
h5{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	font-weight: normal; 
	color:   #025BB5;        
	margin-top: 2pt; 
	margin-bottom: 0pt; 
	margin-left: 40px;
	text-align: left;
	padding-top: 5px;
}

/*-------------------Paragraphs and lists for CAA ----------------------*/
ol {
/*	For CAA, as for ul */
	margin-left: 40px;
	padding-left: 30px;
	margin-top: 5pt;
}
ul, ol {
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 5px;
}
ul, ul {
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 0px;
}

ol ul {
	margin-left: 0px;
	margin-top: 2px;
	margin-bottom: 0px;
}

ul ol {
	margin-left: 0px;
	margin-top: 2px;
	margin-bottom: 0px;
}

ol ol {
	margin-left: 0px;
	margin-top: 2px;
	padding-left: 30px;
	margin-right: 0;  /* should not be necessary, since it is set just below for all ol */
	padding-right: 0; /* but it is not taken into account if not specified here */
	margin-bottom: 0px;
}

p {
	margin-right: 0;
	padding-right: 0;
	margin-bottom: 6pt;
}

/*-------------Tables for CAA ----------------------------------*/
table {
/* For CAA */
	margin-left: 40px;
	margin-bottom: 5px;
}

td, th {
	padding: 0;
}
td img {
	margin-top: 2px;
	margin-bottom: 2px;
}
td.auto img {
	margin-top: 0px;
	margin-bottom: 0px;
}


table.abstract {
	width: 100%;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
/*	border: 1px solid  #D2E6FE; 
	background-color: #F8FBFF;  */
	border: 1px solid  #C8CCCE;
	background-color: #F9F9F9;
}

table.abstract td {
	padding-bottom: 10px;
}
table.code {
	margin-left: 40px;
	border: 1px solid  #D2E6FE; 
/*	border:2px solid #FFFFFF;  */
/*	background-color: #E0E0E0; */
	background-color: #F8FBFF;  
	padding: 2px;
	vertical-align: top;
}

td.code {
	border: 1px solid  #D2E6FE; 
	background-color: #F8FBFF;  
	padding: 2px;
	vertical-align: top;
}
table.reference {
}
table.reference td {
	padding-right: 4px;
	vertical-align: top;
}
table.history {
}
table.history td {
	padding-right: 4px;
	vertical-align: top;
}
caption {
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	font-weight: bold;
	font-style: normal;
	color: black;
}
.borderBottom {
	border-bottom: thin solid;
}

table.horborder { border: 2px solid #E0E0E0; }
table.horborder td { border-bottom: 2px solid #E0E0E0; }
table.horborder th { border-bottom: 2px solid #E0E0E0; }

table.border { border: 2px solid #E0E0E0; }

table.border1 {
	border-top: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-bottom: 1px outset #E0E0E0;
	border-right: 1px outset #E0E0E0;
}
table.border1 td { border: 1px solid #E0E0E0; }
table.border1 th { border: 1px solid #FFFFFF; }


/* Resets margins for paragraphs and lists imbedded within a table */
table ul {
	margin-left: 0px; 
}
table p {
	margin-left: 0px; 
}
table ol {
	margin-left: 0px; 
}
table table {
	margin-left: 0px; 
}

table.abstract ul {
	margin-left: 40px; 
}

table.abstract ul ul {
	margin-left: 0px; 
}

table.abstract p {
	margin-left: 40px; 
}

table.DocHeaderIntro ul {
	margin-left: 40px;
}

table.DocHeaderIntro ul ul {
	margin-left: 0px; 
}

ul table {
	margin-left: 0px; 
	padding-left: 0px; 
}

ul table.code {
	margin-left: 0px; 
	padding-left: 0px; 
}

ol table {
	margin-left: 0px; 
	padding-left: 0px; 
}
ol table.code {
	margin-left: 0px; 
	padding-left: 0px; 
}

ol table.Remark , ul table.Remark , table table.Remark {
	width: auto;
	margin-left: 0px; 
	padding-left: 0px; 
}

/*------End of Tables for CAA ----------------------------------*/
ul.toc {
	list-style-image: url('../CAAIcons/images/minitoc.gif');
	margin-left: 62px; 
	padding-left: 15px; 
}

li.toc {
	list-style-image: url('../CAAIcons/images/ul2.gif');
}

p.themes a, p.themes a:link, p.themes a:visited, p.themes a:hover
	{
	background-image: url('../CAAIcons/images/minitoc.gif'); 
	}
p.usertasks a, p.usertasks a:link, p.usertasks a:visited, p.usertasks a:hover
	{
	background-image: url('../CAAIcons/images/ul2.gif'); 
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	}

table.DocHeader {
	margin-left: 0px;
	}
table.table1 {
	margin-left: 0px;
	}
table.DocThemeIntro {
	margin-left: 0px;
	}
table.DocHeaderIntro {
	margin-left: 0px;
	}
table.DocHeaderIntro td {
	padding-bottom: 10px;
}

td.DocHeader3 {
	padding: 0px;
	}

hr.top {
	color:  #316AC5; 
	background-color:  #316AC5;    
	height: 1pt;
	margin-left: 0px;
	padding-left: 0px;
	}

a:link IMG {
	border-width: 0px;
	}

a:visited IMG {
	border-width: 0px;
	} 

a:hover IMG {
	border-width: 0px;
	}

/* ----- code ---------*/

code, tt {
/*	font-size: 8pt; */
/*	For CAA 9pt; */
	font-size: 9pt;
	}

/* Used for preformatted text */
pre { font-family: Courier New, Courier; 
	font-size: 9pt;
	font-weight: normal; 
 	margin-left: 40px;
 	margin-top: 5px;
 	margin-bottom: 5px;
}
table pre {
	margin-left: 0px;
}
li pre {
	margin-left: 0px;
}

pre.code {
	margin-left: 40px;
/*	border:2px solid #FFFFFF;  */
/*	background-color: #E0E0E0; */
/*	border: 1px solid  #D2E6FE; 
	background-color: #F8FBFF; */
	border: 1px solid  #C8CCCE;
	background-color: #F9F9F9;
	padding: 2px;
	vertical-align: top;
}	
table pre.code {
	margin-left: 0px;
}
li pre.code {
	margin-left: 0px;
}

pre.automation {
	margin-left: 0px;
}
span.comment {
	color: #008000;
}

span.keyword {
	color: #0000FF;	
}

span.sample {
	color: #FF0000;	
}

span.string {
        color: #931515; /* in decimal, according to default Visual Studio: R 163 / G 21 / B 21 */
}

span.tag {
	color: #800000;	
}

span.attribute {
	color: #FF0000;	
}

span.aqua{
	color:#2B91AF;
}

span.greycomment {
	color: #888888;
}

pre.xml {
	font-family: Arial, sans Serif; 
	font-size: 8.5pt;
	font-weight: normal; 
	margin-left: 40px;
	border: 1px solid  #D2E6FE; 
/*	border:2px solid #FFFFFF;  */
/*	background-color: #E0E0E0; */
	background-color: #F8FBFF;  
	padding: 2px;
	vertical-align: top;
}	

span.xmlcomment {
	color: #808080;
}

span.xml {
	color: #008080;
}

span.xmltag {
	color: #800000;
}

span.xmlattribute {
	color: #FF0000;
}
/* ----- Definition lists ---------*/
dl {
 	margin-left: 40px;
 	margin-right: 5px;
	}
dt {
 	margin-left: 10px;
	}
dl dt {
 	margin-left: 0px;
	}
dl dd {
 	margin-left: 12px;
	}

dl dl {
	margin-left: 0px;
	}

dd p {
	margin-left: 0px;
	}

dd ul {
	margin-left: 0px;
	}
dd ol {
	margin-left: 0px;
	}
dd table.code {
	margin-left: 0px;
	}

span.object {
/*	background-image: url('../CAAScrAutomationImages/images/blueobject.gif'); */
/*	background-repeat: no-repeat; */
/*	background-position: left; */
	background-color: #99FFFF;
	border: 1px solid windowframe;
	color: windowtext;
	text-decoration: none;
	cursor: pointer;
	height: 18px;
	width: 183px;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial, sans serif;
	font-size: 9pt;
	font-weight: bold;
}

span.collection {
/*	background-image: url('../CAAScrAutomationImages/images/yellowobject.gif'); */
/*	background-repeat: no-repeat; */
/*	background-position: left; */
	background-color: #FFFF99;
	border: 1px solid windowframe;
	color: windowtext;
	text-decoration: none;
	cursor: pointer;
	height: 18px;
	width: 183px;
	padding-left: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Arial, sans serif;
	font-size: 9pt;
	font-weight: bold;
}

span.objectdashed {
	background-color: #99FFFF;
	border: 1px dashed windowframe;
	color: windowtext;
	text-decoration: none;
	cursor: pointer;
	height: 18px;
	width: 183px;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial, sans serif;
	font-size: 9pt;
}

span.collectiondashed {
/*	background-image: url('../CAAScrAutomationImages/images/yellowobject.gif'); */
/*	background-repeat: no-repeat; */
/*	background-position: left; */
	background-color: #FFFF99;
	border: 1px dashed windowframe;
	color: windowtext;
	text-decoration: none;
	cursor: pointer;
	height: 18px;
	width: 183px;
	padding-left: 4px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial, sans serif;
	font-size: 9pt;
}

/* Navigation hyperlink list container */
	.ofvbaispan { position: absolute;
		padding: 0px 0px 0px 0px;
		border: 1px solid windowframe;
		color: windowtext;
		display: none;
		z-index: +1;
		}

/* Navigation area */
	.ofvbanav { padding: 0px 0px 10px 0px; } 

/* Active navigation area jumps */
	.ofvbanavreuse { width: 75px;
		color: #0000cc;
		cursor: pointer;
		}

/* Inactive navigation area jump */
	.ofvbanavunused { width: 75px;
		color: graytext;
		}
/* Hidden navigation area jump */
	.ofvbanavhidden { width: 75px;
		display: none;
		}

a.auto {
	color:  #000000;
}
a.auto:link {
	color:  #000000;
}

a.auto:visited {
	color:  #000000;
} 

a.auto:hover {
	color:  #000000;
/*	cursor: pointer; */
}


img {
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

td.auto {
	margin-top: 0px;
	padding-top: 0px;
	vertical-align: top;
	font-size: 0pt;
	overflow: hidden;
	white-space: nowrap;
}

p.auto {
	font-size: 0pt;
}

.introFrame {
	width: 100%;
	border-style: none;
}

body.iframe {
	font-family: Verdana, Helvetica, sans serif;
	font-weight: normal;
	color: #000000;
	background-color: #F9F9F9;
	font-size: 8pt;
	margin: 0px;
	padding: 0px;
	border-style: none;
	border: 0 none;
	overflow: hidden;
}

/* table for constraints in Assembly Design */
table.constraints {
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-bottom: 1px outset #000000;
	border-right: 1px outset #000000;
}

table.constraints th {
	background-color: #E0E0E0;
	border: 1px #C0C0C0 solid;
	padding: 5px;
}


table.constraints td {
	border: 1px #C0C0C0 solid;
	padding: 5px;
}

td.constraints {
	background-color: #C0C0C0;
	text-align: center;
	vertical-align: middle;
}

ol.task ul, pre {
	color: #000000;
	font-weight: normal;	
}

ul.wide li ul li {
	margin-bottom: 1pt;	
}

ul.wide li ol li {
	margin-bottom: 1pt;	
}
