.pbreak 
{
  page-break-after: always;
}

/* Body */
/* ==== */
body { font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	color: black; 
	background: white; 
	font-size: 7pt;}

table.DocHeader {
	margin-top: 0px;
	}
table.DocHeaderIntro {
	margin-top: 0px;
	}
table.DocThemeIntro {
	margin-top: 0px;
	}
td.Intro2 {
	padding-top: 5px;
	}
hr.header {
	display: none;	}
/*  height: 1px;
	width: 80%; */

/* Headings */
/* ======== */
h1 { font-family: Arial; 
	font-size: 16pt; 
	font-weight: normal; 
	color: #025BB5;
	margin-bottom: 0px; }
h2 { font-family: Verdana, Helvetica, sans serif; 
	font-size: 13pt; 
	font-weight: normal; 
	color: #025BB5; 
	margin-top: 4pt; 
	margin-bottom: 2pt; }
h3 { font-family: Verdana, Helvetica, sans serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #025BB5; 
	margin-top: 5pt; 
	margin-bottom: 0pt; }
h4 { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: bold; 
	color: #025BB5;
	margin-top: 5pt;
	margin-bottom: 0pt;  }
	
/* Paragraph */
/* ========= */
p { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 0px; }
/* used in the TOC */
/* --------------- */
p.toc {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 7pt; 
	margin-top:0pt; 
	margin-bottom: 0pt; margin-left: -4pt;}
/* used in the Site Map */
/* -------------------- */
p.sm1 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: bold; 
	font-size: 7pt; 
	margin-left: 0pt; 
	margin-top:3pt; 
	margin-bottom: 1pt; }
p.sm2 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 7pt; 
	margin-top:0pt; 
	margin-bottom: 0pt; }
/* used in the Splitted Site Map */
/* ----------------------------- */
p.ssm1 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: bold; 
	font-size: 9pt;
	margin-left: 0; 
	margin-top: 9pt;
	margin-bottom: 1pt; }
p.ssm2 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 9pt; 
	margin-top:0pt; 
	margin-bottom: 1pt; }
/* used in the Index */
/* ----------------- */
p.ix1 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 7pt; 
	margin-left: 10; 
	margin-top:0pt; 
	margin-bottom: 2pt; }
p.ix2 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 7pt; 
	margin-left: 50; 
	margin-top:0pt; 
	margin-bottom: 2pt; }

/* Navigation Box */
/* ============= */
td.DocHeader2 {
	width: 130px;
	vertical-align: top;
	padding: 2px;
	}
td.TopicsTitle {
	font-weight: bold;
	color: #636363
	}
table.DocTopics {
	border: 1px solid #7D7D7D;
	margin-top: 0px;
	}


/* Bulleted List */
/* ============= */
ul { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	list-style-type: disc; 
	margin-top : 2pt; 
	margin-left: 13pt; 
	margin-bottom : 0pt; }
ul ul { 
	margin-top : 1pt;}
ul ul ul {}

/* Numbered List */
/* ============= */
ol { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; }
ol ol { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt;
	list-style-type: lower-alpha;
	margin-top: 2pt;
	margin-bottom: 0pt;
	margin-left: 18pt; }
p.task {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 7pt; 
	margin-top:5pt; 
	margin-bottom: 0pt; 
	line-height: 12pt; 
	color:black; } 
ol.task {font-family: Verdana, Helvetica, sans serif; 
	color: #025BB5; 
	font-size: 7pt; 
	font-weight: bold;
	list-style-type: decimal;
	margin-top:5pt; 
	margin-bottom: 0pt;
	 }
ol.task table {
margin-top: 0px; }

/* Blockquote */
/* ============= */
blockquote { margin-left: 10pt; }

/* Definition: used in What's New */
/* ============================== */
/* Definition Term */
/* --------------- */
dl {margin-top: 5px;
	margin-bottom: 0px; }
dt { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	font-weight: normal; }
/* Definition Definition */
/* --------------------- */
dd { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	font-weight: normal;
	margin-left: 15pt; }

/* Hyperlinks */
/* ========== */
A { font-family: Verdana, Helvetica, sans-serif; 
	text-decoration: none; }
A:link { color: #F27A02;
	text-decoration: underline; }
A:visited { color: #B60202;  
	text-decoration: underline; }
A:hover { background: #E0EEFF color: #B60202; 
	text-decoration: underline; }

/* Font Properties Overwrite */
/* ========================= */
/* ------ run-in tag -----------------------*/
span.run-in {
	font-weight: bold;
	color: #025BB5;
	font-size: 7pt;}
/* Used for interface, commands, menus, etc. */
/* ----------------------------------------- */
kbd { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666}
/* Used for code examples */
/* ------------------------------------------- */
code {color: #976970; 
	font-family: Courier New, Courier; 
	letter-spacing: -0.05em;
	font-size: 7pt; 
	font-weight: normal;}
/* Used for the What's New */
/* ----------------------- */
blink{ font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	background: #FFFF80; 
	text-decoration: none}
/* Used for preformatted text */
/* -------------------------- */
pre { font-family: Courier New, Courier; 
	font-weight: normal; }
/* Used to high-light the Search result */
/* ------------------------------------ */
strike.search{ font-family: Verdana, Helvetica, sans serif; 
	color: #FFFFFF; 
	background: #111199; 
	text-decoration: none; }

/* Table and Cells*/
/* ============== */
/* Standard tables */
/* --------------- */
table { border-collapse: collapse;
	margin-top: 5px;}
th { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	color: #024F9C;
	font-weight: bold; 
	text-align: left;
	border: 1px solid #7D7D7D; }
td { font-family: Verdana, Helvetica, sans serif; 
	font-size: 7pt; 
	font-weight: normal;
	 }
td.normal {}
td.padding {border: 1px solid #7D7D7D;}

/* Medium-grey-background cells */
/* ---------------------------- */
td.code {
	border: 1px solid #7D7D7D;
	padding: 1px;
	vertical-align: top;}
/* Light-grey-background cells */
/* --------------------------- */
td.code2 {
	border: 1px solid #7D7D7D;
	padding: 1px;
	vertical-align: top; }
td.Remark {
	padding-top: 5px;
	}
