body
{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
}
td.SearchTitle
{
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 20pt; 
	font-weight: normal; 
	color: #353a90; 
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}
div#SearchContent
{
	margin: 0;
	padding: 0;
}
/* Progress Bar classes */
/* -------------------- */
.ProgContainer
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	margin: 0;
	padding: 0;
}
table.ProgPanel
{
	border: 1px solid #666666;
	background-color: #EEEEEE;
}
td.ProgTitle
{
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 14pt; 
	font-weight: bold;
	color: #353a90;
	text-align: center;
	padding: 20px;
	background-color: #AAAAEE;
}
td.ProgTitle1
{
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 11pt; 
	font-weight: bold;
	color: #353a90;
	text-align: center;
	padding: 10px;
}
table.ProgBar
{
	border: 1px solid #353a90;
	width: 300px;
	height: 20px;
	margin: 20px;
	margin-bottom: 0;
}
td#ProgCell
{
	background-color: #D9E7FF;
	padding: 2px;
}
div#ProgText
{
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 12pt; 
	font-weight: bold; 
	color: #353a90; 
	text-align: center;
	position: relative;
	top: -20px;
}
/* Search Panel classes */
/* -------------------- */
table.SearchAreaCrit, table.SearchAreaNoCrit
{
	margin: 0px 0px 20px 0px;
}
table.SearchAreaNoCrit
{
	width: 100%;
	margin-top: 100px;
}
table.SearchAreaNoCrit td.SearchIcon {
	background-image: url("icons/Search150.jpg");
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
}
table.SearchAreaCrit td.SearchIcon {
	background-image: url("icons/Search80.jpg");
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
}
table.SearchForm
{
	background-color: #72797F;
	/*margin-left: 15px;*/
	width: 100%;
}
table.SearchForm td {
	font-size: 11pt;
	font-weight: bold;
	color: #4B575F;
	width: 100%;
}
/*HFJ*/
table.SearchForm1  {
	
	font-size: 10pt;
	font-weight: bold;
	background-color: white;
	width: 100%;
}
table.SearchForm1 td {
	
	font-size: 8pt;
	font-weight: bold;
	width: 100%;	
}
input#searchfield
{
	width: 250px;
	margin: 7px 3px 0px 7px;
	padding: 3px;
	border: 1px solid #4B575F;
	background-color: white;
	color: black;
	height: 24px;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: normal;
}
/*LQA*/
input#SearchText1
{
top: 6px;
	left: 0px;
	height: 24px;
      width: 258px;
}
input#searchsubmit
{
	margin: 9px 3px 7px 3px;
	padding: 0px;
	background-image: url("images/DSDocIcon_search_btn.gif");
	background-color: transparent;
	border: 0;
	height: 20px;
	width: 20px;
	z-index: 9
}
input#searchsubmit:focus, input#searchsubmit:hover{
	background-image: url("images/IF_DSDocIcon_search_btn.gif");
	z-index: 9
}

span.ScanLink, a.ScanLink, a.ScanLink:link, a.ScanLink:visited, a.ScanLink:hover
{
	margin: 0px 7px 7px 7px;
	font-size: 10pt;
	font-weight: bold;
	color: #4B575F;
	text-decoration: none;
	background-color: transparent;
}
a.ScanLink:hover
{
	color: #FF7900;
	text-decoration: underline;
}
span.ScanLink
{
	color: gray;
}
p.ResultWarning
{
	font-size: 12pt;
	color: #666666;
	margin-left: 60px;
}
p.ResultAdvise
{
	font-size: 11pt;
	color: #666666;
	font-style: italic;
	margin: 5px;
	margin-left: 80px;
	border-left: 2px solid #666666;
	padding: 5px;
}
table.ResultsTitle
{
	background-image: url("../icons_C2/common/tocbg.jpg");
	background-repeat: repeat-y;
	border: 1px solid #FFA111;
	width: 100%;
	color: #666666;
	margin-bottom: 10px;
}
td.ResultsTitle
{
	font-size: 12pt; 
	font-weight: bold; 
	padding:0;
	padding-left: 10px;
}
td.ResultsDetails
{
	font-size: 10pt; 
	padding:0;
	padding-right: 10px;
	font-style: italic; 
}
div.ResultsNav
{
	border-top: 2px solid #FFA111;
	font-size: 10pt;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
	padding-top: 5px;
	color: #666666;
}
span.ResNavOff, span.ResNavPageCur, a.ResNav, a.ResNavPage, a.ResNav:visited, a.ResNavPage:visited
{
	color: #1144EE;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
}
span.ResNavOff, span.ResNavPageCur
{
	color: #FFA111;
}
a.ResNav:hover, a.ResNavPage:hover
{
	background: #73A6FF;
	color: #ffffff; 
	text-decoration: none;
}
table.Results
{
}
td.ResIndex
{
	font-family: Verdana, Helvetica, sans serif; 
	color: #003399; 
	font-size: 10pt; 
	font-weight: bold;
	padding-right: 5px;
}
td.Result
{
	padding-bottom: 10px;
}
a.ResTitle
{
	font-size: 11pt; 
}
p.ResInfo, a.ResInfo
{
	color: #666666;
	margin: 0;
	padding: 0;
	font-size: 9pt; 
}
p.ResScan
{
	font-size: 8pt;
	margin: 0;
	padding: 0;
	margin-left: 15px;
}
p.ResInfo1
{
	color: black;
	margin: 0;
	padding: 0;
	font-size: 9pt; 
}
