/* =========== */
/* = General = */
/* =========== */
/* 
	//	VD1:   IR A0601495.   
	//        Shows Arrow cursor when we place mouse over search icon
	//        Fix: Added code to show hand cursor when mouse pointer is over search icon.
*/
/* 
	//  10th Dec. 2009
	//	VD1:  Display properties for ExpandAll/CollapseAll functionality   
*/
/* 
	//  March 11th 2011
	//	Color changes for new DS4 graphics charter - MTN
*/

body
{
    font-family: Verdana, Helvetica, sans serif; 
    font-weight: normal; 
    background-color: white;
}

table
{
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

/*
body.Banner
{ */
   /* background-color: blue;*/
   /*  background: transparent url(../CAAIcons/images/Top_Bar_Layer_Top.png) no-repeat-x top left; */
/*    color: #EEE;
    width: 100%;
    background:transparent url('../CAAIcons/images/Top_Bar_Layer_Top.png') repeat-x fixed left top; 
} */
.Banner
{
 /*   background: url(FrameImages/DSDocIcon_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  background-color: #FFFFFF;

}

a:link IMG {
	border-width: 0px;
}

a:visited IMG {
	border-width: 0px;
}

a:hover IMG {
	border-width: 0px;
}
.overlay
{
    background: #D9D9D9 url(../CAAIcons/images/Top_Bar_Layer_Under.png) repeat-x left bottom;
	position: absolute; 
    height: 32px;
    top: 44px;
    left: 0px;
    width: 100%;
    
}

/* ======================= */
/* = Logo frame styles = */
/* ======================= */
/* body.Logo
{
    background: url(../CAAIcons/images/f1_back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Logo1
{
	POSITION: absolute; 
	TOP: 22px; 
	LEFT: 15px; 
	HEIGHT: 38px; 
	width: 200px;
	VISIBILITY: visible; 
	
	Z-INDEX: 2;
}
.logoImage
{
	width:100%;
}
*/
/* Added for white banner */
body.Logo
{
    background: url(FrameImages/f1_back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.Logo1
{
	POSITION: absolute; 
	TOP: 20px; 
	LEFT: 106px; 
	HEIGHT: 51px; 
	width: 180px;
	VISIBILITY: visible; 
	
	Z-INDEX: 2;
}
.logoImage
{
	width:100%;
}
.UA
{
	position: absolute;
	left: 336px;
	font-family: 3DSFont Regular, Verdana, Helvetica, Avenir; 
    font-size: 9pt;
	font-style:normal;
    font-weight: bold;
	color: #385565;
	top: 42px;
	width: 150px;
	height: 30px;

}
.formClass
{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	POSITION: absolute; 
	display: block;
	TOP: 35px; 
	LEFT: 500px; 
	/*RIGHT: 310px; */
	HEIGHT: 24px; 
	WIDTH: 264px; 
	VISIBILITY: visible; 
	Z-INDEX: 2;
	/*clip: shape;
	 border-radius: 3px;  */
	border-radius:15px 15px 15px 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
		border :2px;
	border-style:solid;
	border-color: #D3D3D3;
}
.inputBox
{
	margin-top:3px;
	margin-left:10px;
	border :0px;
	width:208px;
	height:19px;
}
.buttonImg
{
	margin-top:4px;
	POSITION: absolute; 
	right:10px;
}
.compass
{
	position: absolute;
	top:10px;
	/*right: 189px; */
	left: 814px;
	z-index:2;
	height:83px;
	width:71px;
}
.compassImage
{
	position: absolute;
	height:83px;
	width:71px;
	/*left:3px; */
	position:relative;
}
.printDiv
{
	position: absolute; 
	top: 33px; 
	/* right: 106px; */
	left: 926px;
	width: 33px; 
	height: 32px;
	visibility: visible; 
	z-index: 2;
}
.printImage
{
	width:100%;
}

/* End Added for white banner */

.logo
{
    background: transparent url(../CAAIcons/images/3DS_Logo.png) repeat-x left top; 
	position: absolute; 
	top: 6px; 
	left: 16px; 
	height: 33px; 
	width: 32px;
	visibility: visible; 
	z-index: 2;
}
/*
.compass
{
	position: absolute;
	top: 6px;
	left: 64px;
	z-index:3;
	height:64px;
	width:64px;
}
.compassImage
{
	height:64px;
	width:64px;
}
*/
.Bcompass
{
	position: absolute;
	top: 0px;
	left: 58px;
	z-index:2;
	height:76px;
	width:76px;
}
.BcompassImage
{
	height:77px;
	width:76px;
}

.copyright
{
	position: absolute;
    top: 12px;
    left: 144px;
    /* height: 15px; */
    width: 348px;
    visibility: visible;
    z-index: 9;
    font-family: Tahoma, Arial, Verdana, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 15px;
    text-shadow: 0px -1px 0px #2e4e62;
    /* font-family: Calibri, Helvetica, Avenir;
    font-size: 9pt; */
    color: #FFFFFF;
    Z-INDEX: 2;
}
    width: 348px;
    visibility: visible;
    z-index: 9;
    font-family: Tahoma, Arial, Verdana, Helvetica, "Bitstream Vera Sans", sans-serif;
    font-size: 15px;
    text-shadow: 0px -1px 0px #2e4e62;
    /* font-family: Calibri, Helvetica, Avenir;
    font-size: 9pt; */
    color: #FFFFFF;
    Z-INDEX: 2;
}
/*
.formClass
{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	POSITION: absolute; 
	display: block;
	TOP: 11px; 
	LEFT: 504px; 
	HEIGHT: 22px; 
	WIDTH: 288px; 
	VISIBILITY: visible;
	Z-INDEX: 5; */
	/* clip: shape;
	 border-radius: 3px; */ 
	/* border-radius:5px 5px 5px 5px; */
	/* -moz-border-radius: 5px; */
	/* -webkit-border-radius: 5px; */
/*	border-radius: 2px;
}
.inputBox
{
	margin-top:0px;
	margin-left:10px;
	border :0px;
	width:260px;
	height:19px;
	font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	color: #A9A9A9;
}
.buttonImg
{
	margin-top:2px;
	POSITION: absolute; 
	right:5px;
}

.printDiv
{
	position: absolute;
    background: transparent url(../CAAIcons/images/Main_Share_Icon_Off.png) no-repeat left top;
	top: 6px; 
	right: 8px; 
	width: 32px;
	height: 32px;
	visibility: visible; 
	z-index: 10;
}

.printCmd  {
/*	height: 29px; */
/*	-webkit-margin-before: 0px;
	margin-top: 0px;
	margin-right: 0px;
	font: 1.1em/1.3em Tahoma, Arial, Verdana, Helvetica, "Bitstream Vera Sans", sans-serif;
	position: absolute; 
	top: 32px;
	right: 0px;
	padding: 5px;
	visibility: hidden;
	z-index: 5;
	background-color: #efefef;
}
.printCmd:hover {
	background-color: #0d6196;
	color: white;
}
.printCmd   a {
	text-decoration: none;
	font-size: 10pt;
	color: black;
}
.printCmd:hover a {
	color: white;
}
*/
.favoritesDiv
{
	position: absolute; 
    background: transparent url(../CAAIcons/images/Main_Add_Icon_Off.png) no-repeat left top; 
	top: 6px; 
	right: 48px; 
	width: 32px; 
	height: 32px;
	visibility: visible; 
	z-index: 10;
}

.favCmd {
/*	height: 29px; */
	-webkit-margin-before: 0px;
	margin-top: 0px;
	margin-right: 0px;
	font: 1.1em/1.3em Tahoma, Arial, Verdana, Helvetica, "Bitstream Vera Sans", sans-serif;
	position: absolute; 
	top: 32px; 
	right: 0px;
	padding: 5px;
	visibility: hidden;
	z-index: 5;
	background-color: #efefef;
}

.favCmd:hover {
	background-color: #0d6196;
	color: white;
}

.favCmd a {
	text-decoration: none;
	font-size: 10pt;
	color: black;
}
.favCmd:hover a {
	color: white;
}




/*
.NewSearch
{
	POSITION: absolute; 
	TOP: 40px;  
	LEFT: 275px; 
	HEIGHT: 38px; 
	VISIBILITY: visible; 
	Z-INDEX: 2; 
	margin-right: 10px; */ 
	 /* background-color:yellow; */
/*	align:right;
} */
/*
.printDiv
{
	position: absolute; 
	top: 45px; 
	left: 1225px; 
	width: 25px; 
	visibility: visible; 
	z-index: 9;
}
.printImage
{
	width:100%;
}
.favoritesDiv
{
	position: absolute; 
	top: 48px; 
	left: 1125px; 
	width: 25px; 
	visibility: visible; 
	z-index: 10;
}
.formClass
{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	POSITION: absolute; 
	display: block;
	TOP: 44px; 
	LEFT: 500px; 
	HEIGHT: 27px; 
	WIDTH: 250px; 
	VISIBILITY: visible; 
	Z-INDEX: 2;  */
	/*clip: shape;
	 border-radius: 3px;  */
/*	border-radius:15px 15px 15px 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
} */
/*
.inputBox
{
	margin-top:4px;
	margin-left:10px;
	border :0px;
	width:208px;
	height:20px;
}
.buttonImg
{
	margin-top:5px;
	POSITION: absolute; 
	right:15px;
}
.copyright
{
	position: absolute;
    top: 80px;
    left: 275px;
    height: 15px;
    width: 350px;
    visibility: visible;
    z-index: 9;
    font-family: Calibri, Helvetica, Avenir;
    font-size: 9pt;
    color: #FFFFFF;
}
.searchBarImg
{
	width:100%;
	height:35px;
}
.compass
{
	position: absolute;
	top:5px;
	right: 200px;
	z-index:3;
	height:78px;
	width:90px;
}
.compassImage
{
	height:78px;
	width:78px;
}
*/
/* ======================= */
/* = Banner Background	   */
/* ======================= */
/*
.Banner
{
    background: url("../CAAIcons/images/DSDocIcon_background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}
div.BannerBackground
{
    background-color: #A5ACB0;
    position: absolute;
    top: 6px;
    left: 0px;
    height: 38px;
    width: 2500px; */ /* must be spread enough to support enlargement ; increased March 2011 */
/*    visibility: visible;
    z-index: 0
}
div.BannerVersionRelease
{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 15px;
    width: 300px;
    visibility: visible;
    z-index: 9;
    font-family: Verdana, Helvetica, Avenir;
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
}
div.BannerVersion
{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 15px;
    width: 150px;
    visibility: visible;
    z-index: 9;
    font-family: Verdana, Helvetica, Avenir;
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
}
div.BannerRelease
{
    position: absolute;
    top: 10px;
    left: 150px;
    height: 15px;
    width: 150px;
    visibility: visible;
    z-index: 9;
    font-family: Verdana, Helvetica, Avenir;
    font-size: 9pt;
    font-weight: bold;
    color: #FFFFFF;
}
div.BannerCopyright
{
    position: absolute;
    top: 25px;
    left: 10px;
    height: 15px;
    width: 300px;
    visibility: visible;
    z-index: 9;
    font-family: Arial, Helvetica, Avenir;
    font-size: 7pt;
    color: #FFFFFF;
}
*/
/* ============================ */
/* = QuickSearch frame styles = */
/* ============================ */
body.QuickSearch
{
    background-color: #FFFFFF;
}
/* used for old resize management : keep it for possible rollback */
body.QuickSearch2
{
    background-color: #FFFFFF;
}

body.QuickSearch, body.QuickSearch table
{
    font-family: Verdana, Helvetica, sans serif; 
    font-size: 8pt;
    font-weight: bold;
    z-index: 9;
}

body.QuickSearch div
{
    background-color: #A5ACB0;
    position: absolute;
    visibility: visible;
    z-index: 5
}
/* used for old resize management : keep it for possible rollback */
body.QuickSearch2 div
{
    background-color: #A5ACB0;
    position: absolute;
    visibility: visible;
    z-index: 5;
}

div.SearchHidden
{
    top: 6px;
    left: 0px;
    width: 0px;
}
div.SearchText
{
    top: 6px;
    left: 0px;
    height: 38px;
    width: 258px;
}
div.SearchText1
{
    top: 6px;
    left: 0px;
    height: 38px;
    width: 258px;
}
div.SearchTextCollapsed
{
    top: 6px;
    left: 0px;
    height: 38px;
    width: 48px;
}
div.SearchSubmit
{
    top: 6px;
    left: 258px;
    height: 38px;
    width: 28px;
}
div.SearchSubmit2
{
    top: 6px;
    left: 148px;
    height: 38px;
    width: 28px;
}


/* input field style */

body.QuickSearch input#button
{
    margin: 9px 3px 7px 3px;
    padding: 0px;
    background-image: url("../CAAIcons/images/DSDocIcon_search_btn.gif");
    background-color: transparent;
	/* VD1:   IR A0601495. */
	cursor: pointer;
	/* VD1:   IR A0601495. */
    border: 0;
    height: 20px;
    width: 20px;
    z-index: 9;
}
/* used for old resize management : keep it for possible rollback */
body.QuickSearch2 input#button
{
    margin: 9px 3px 7px 3px;
    padding: 0px;
    background-image: url("../CAAIcons/images/DSDocIcon_search_btn.gif");
    background-color: transparent;
    border: 0;
    left: 138px;
    height: 20px;
    width: 20px;
    z-index: 9;
}

body.QuickSearch input#search
{
    margin: 7px 3px 7px 2px;
    padding: 1px 4px 0px 4px;
    border: 1px solid #4B575F;
    height: 23px;
    width: 253px;
    z-index: 9;
}
/* used for old resize management : keep it for possible rollback */
body.QuickSearch2 input#search
{
    margin: 7px 3px 7px 2px;
    padding: 1px 4px 0px 4px;
    border: 1px solid #4B575F;
    height: 23px;
    width: 143px;
    z-index: 9;
}

/* submit button style */

body.QuickSearch input#submit
{
    margin: 9px 3px 7px 3px;
    padding: 0px;
    background-image: url("../CAAIcons/images/DSDocIcon_search_btn.gif");
    background-color: transparent;
    border: 0;
    height: 20px;
    width: 20px;
    z-index: 9;
}
/* used for old resize management : keep it for possible rollback */
body.QuickSearch2 input#submit
{
    margin: 9px 3px 7px 3px;
    padding: 0px;
    background-image: url("../CAAIcons/images/DSDocIcon_search_btn.gif");
    background-color: transparent;
    border: 0;
    left: 138px;
    height: 20px;
    width: 20px;
    z-index: 9;
}

body.QuickSearch input#submit:focus, body.QuickSearch input#submit:hover
{
    background-image: url("../CAAIcons/images/IF_DSDocIcon_search_btn.gif");
    z-index: 9;
}
body.QuickSearch input#button:focus, body.QuickSearch input#button:hover
{
    background-image: url("../CAAIcons/images/IF_DSDocIcon_search_btn.gif");
    z-index: 9;
}

body.ResultsSearch, body.ResultsSearch table
{
    font-family: Verdana, Helvetica, sans serif; 
    font-size: 8pt;
    font-weight: bold;
    z-index: 9;
}
body.ResultsSearch input#submit
{
    margin: 9px 3px 7px 3px;
    padding: 0px;
    background-image: url("../CAAIcons/images/DSDocIcon_search_btn.gif");
    background-color: transparent;
    border: 0;
    left: 138px;
    height: 20px;
    width: 20px;
    z-index: 9;
}
body.ResultsSearch input#submit:focus, body.ResultsSearch input#submit:hover
{
    background-image: url("../CAAIcons/images/DSDocIcon_search_btn.gif");
    z-index: 9;
}
div.ResSearchText
{
    top: 6px;
    left: 0px;
    height: 38px;
    width: 250px;
}

/* ====================== */
/* = Print frame styles = */
/* ====================== */
div.PrintBackground
{
    background-color: #A5ACB0;
    position: absolute;
    top: 6px;
    left: 0px;
    height: 38px;
    width: 28px;
    visibility: visible;
    z-index: 5;
}

/* ======================= */
/* = TocBar frame Styles = */
/* ======================= */
body.TocBar
{
    margin: 0px;
    padding: 0px;
/*    background-color: #EBEBEC; */
    background-color: #FFFFFF;
}
/* the 'collapse' icon is in a DIV element with class 'TocOpened' */
div.TocOpened
{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
/* the 'expand' icon is in a DIV element with class 'TocClosed' */
div.TocClosed
{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #EBEBEC;
    z-index: 1;
}
/*
body.TocBar H1
{
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    font-weight: bold;
    margin-top: 13px;
}
*/
a.TocCollapse img, a.SyncToc img
{
    border-width: 0px;
    padding: 2px;
    margin: 0px;
}
/*
a.TocExpand
{
    height: 100%;
}
*/
a.TocExpand img
{
    border-width: 0px;
    padding: 2px;
    margin: 0px;
    /*
    position: absolute;
    top: 50%;
    left: 0px;
    */
}
div.TocOpened a.TocExpand
{
    display: none;
}
div.TocClosed a.TocCollapse, div.TocClosed a.SyncToc, a.SyncTocOff
{
    display: none;
}

/* ======================== */
/* = TOCTree frame Styles = */
/* ======================== */
/*
body.Toc
{
    font-family: Verdana, Helvetica, sans serif;
    font-size: 8pt;
    margin: 0px;
    padding: 3px;
    background-color: #EBEBEC;
}
*/
body.Toc
{
    font-family: Verdana, Helvetica, sans serif;
    font-size: 8pt;
    margin: 0px;
    padding: 3px;
    background-color: #FFFFFF;
}

/* when a TOC node is collapsed, the next rox element has class 'TocCollapsed' */
tr.TocCollapsed
{
    display: none;
}
/* the TOC items (nodes and leaves) are A elements with class 'TocLink' */
a.TocLink
{
    font-family: Verdana, Helvetica, sans serif;
    font-size: 8pt;
    text-decoration: none;
   /* border: 1px solid #73A6FF; */
    padding: 0px 2px;
    margin: 0px 2px;
   /* border: 1px solid #EBEBEC; */
    color: black;
}
a.TocLink:hover
{
 /* background-color: #FFFFFF; */
    background-color: #EBEBEC;

}
/* a selected TOC item is in a row element with class 'TocCurItem' */
tr.TocCurItem a.TocLink
{
    background-color: #828B90;
    color: #FFFFFF;
}
tr.TocCurItem a.TocLink:hover
{
    background-color: #828B90;
    color: #EDEDED;
}
img.TocIcon
{
    width: 18px;
    height: 18px;
}
/* when expanding a product node in the TOC, a temporary span child is created with text '...' */
/* if the product site map info could not be loaded, the text becomes 'not found' */
span.TocWaiting, span.TocNotFound
{
    font-family: Verdana, Helvetica, sans serif;
    font-size: 8pt;
    margin-left: 20px;
    color: dimgray;
    font-style: italic;
}
span.TocNotFound
{
    color: red;
}

/* =========================== */
/* = Breadcrumb frame Styles = */
/* =========================== */
body.Breadcrumb
{
    margin: 0px;
    padding: 5px 0px 0px 10px;
    font-family: Verdana, Helvetica, sans serif;
    font-size: 7pt;
    height: 20px;
    /* width: 500px; */
}
body.Breadcrumb table, body.Breadcrumb td
{
    margin: 0;
    padding: 0;
}
a.Breadcrumb
{
    color: #757E84;
    text-decoration: none;
    font-weight: bold;
}
a.Breadcrumb:hover
{
    text-decoration: underline;
}
a.BreadcrumbLeaf
{
	font-weight: bold;
    color: #666666;
    text-decoration: none;
}
a.BreadcrumbLeaf:hover
{
    text-decoration: underline;
}

/* ======================================================== */
/*VD1:  Display properties for ExpandAll/CollapseAll functionality */

/* tooltip display property */
.hintstyle {  
		position:absolute;  
        background:#EBEBEC;  
        border:1px solid black;   
        padding:2px;  
}

/* text display property under tooltip */
.hinttext {
		font-size:8pt;
		font-weight: bold;
		font-family: Verdana, Helvetica, sans-serif;
}

/* text display property when mouse cursur is over ExpandAll/CollapseAll link */
.hintlink {
		font-size:8pt;
		font-weight: bold;
		font-family: Verdana, Helvetica, sans-serif;
		font-style: italic;
		text-decoration: underline;
}
/* ======================================================== */
