/* June 2011 Color changes for new DS4 graphics charter - MTN */

/*Form and filters ----------------------------------------*/
#dsdocsearch_search{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	padding-left: 0px; /* mtn */
	padding-right: 20px;
	text-align:justify;
}

#dsdocsearch_search table.SearchForm{
	background-color: #72797F;
	margin-left: 0px; 
	width: 100%;
}

#dsdocsearch_search table.SearchForm td{
	font-size: 16pt;
	font-weight: normal;
	color: #FFFFFF;
	padding-left: 7px;
	width: 100%;
}
	
#dsdocsearch_search table.SearchForm1{
	font-size: 10pt;
	font-weight: bold;
	background-color: white;
	width: 100%;
}
	
#dsdocsearch_search table.SearchForm1 td{
	font-size: 8pt;
	font-weight: bold;
	color: #4B575F;
	padding-left: 7px;
	padding-top: 7px;
	width: 100%;	
}

#dsdocsearch_search input#q{
	border: 1px solid #4B575F;
	background-color: white;
	color: black;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: normal;
}

#dsdocsearch_search input#searchsubmit{
	padding: 0px;
	background-image: url("FrameImages/DSDocIcon_search_btn.gif");
	background-color: transparent;
	border: 0;
	height: 20px;
	width: 20px;
	z-index: 9;
}
#dsdocsearch_search input#searchsubmit:focus, input#searchsubmit:hover{
	background-image: url("FrameImages/IF_DSDocIcon_search_btn.gif");
	z-index: 9;
}


#dsdocsearch_search fieldset legend,#dsdocsearch_search fieldset select{
	font-size:8pt;
}

#dsdocsearch_search fieldset{
	border:none;
}
#dsdocsearch_search legend {
	color: #000000;
}

/*Results ----------------------------------------*/
#dsdocsearch_main{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	padding: 20px 5px;/* mtn */
	margin-right: 45px; /* mtn */
	text-align:justify;
}

.dsdocsearch_title{
	font-style:italic;
	font-weight: bold;
	font-size:14pt;
	color: #4B575F;
}

/*Glossary ----------------------------------------*/
#dsdocsearch_glossary_azlist{
	background:#FFFFFF;
	margin-top:-20px;
	border-top:1px solid #7B7B7B;
	padding-top:10px;
}

.dsdocsearch_glossary_azlist_link_active{
	border:1px solid #BF650F;
	padding-left:3px;
	padding-right:3px;
}
#dsdocsearch_glossary_azlist a,#dsdocsearch_glossary_azlist a:visited{
	color: #BF650F;
	text-decoration: none;
}

#dsdocsearch_glossary_azlist a:hover, #dsdocsearch_glossary_azlist a:focus{
	color: #562E18;
	text-decoration: underline;
}

#dsdocsearch_glossary_only{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
	padding:20px 20px;
	background:#FFFFFF;
}

#dsdocsearch_glossary{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
	padding:20px 10px; /* mtn*/
	background:#F9F9F9; /*#FFC;*/
}

/* same as dt  ----------------------------------------*/
.topictitle2 {
	font-size:8pt;
	font-weight: bold;
	color: #4B575F;
}

.dsdocsearch_glossary_word {
	font-size:8pt;
	font-weight: bold;
	color: #4B575F;
}

/* this tag corresponds to entire definition */
.dsdocsearch_glossary_defines{
	font-weight:normal;
	color:#000000;
	font-size:8pt;
	margin-left: 20px;
	margin-top: -10px;
}
.dsdocsearch_glossary_defines ul{
	list-style:disc;
	margin-top:-0.25px;
	margin-bottom: 5pt;
}
.dsdocsearch_glossary_defines ol{
	margin-top:-0.25px;
	margin-left: 20px;
}
.dsdocsearch_glossary_defines li{
}
.dsdocsearch_glossary_defines p {
	margin-top: 5pt;
	margin-bottom: 0pt;
	}
.dsdocsearch_glossary_defines dl{
	margin-top: 5px;
	}
.dsdocsearch_glossary_defines dt { 
	color: #4B575F;  
	font-weight: bold; 
	}
.dsdocsearch_glossary_defines dd { 
	margin-bottom: 3px;
	margin-left: 30px;
	margin-top: 3px;
	} 
#dsdocsearch_glossary_more{
	font-size:8pt;
	padding-top:10px;
	padding-bottom:10px;
}
#dsdocsearch_glossary_more a, #dsdocsearch_glossary_more a:visited {
	color: #BF650F;
	text-decoration: none;
}
#dsdocsearch_glossary_more a:hover, #dsdocsearch_glossary_more a:focus {
	color: #562E18;
	text-decoration:underline;
}

/*Normal search ----------------------------------------*/
#dsdocsearch_txt
{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
}

#dsdocsearch_txt a,#dsdocsearch_txt a:visited{
	color: #BF650F;
	text-decoration: none;
}
#dsdocsearch_txt a:hover, #dsdocsearch_txt a:focus{
	color: #562E18;
	text-decoration:underline;
}

.dsdocsearch_txt_item{
}

.dsdocsearch_txt_item_title{
	font-size: 10pt; 
}

.dsdocsearch_txt_item_desc{
	color:#444444;/*#7B7B7B;*/
	font-size: 8pt; 
}

.dsdocsearch_txt_item_techprod{
	color:#7B7B7B;
	font-size:85%;
	padding-bottom:7px;
}

/*Pagination ----------------------------------------*/
/* numbered list at bottom */
#dsdocsearch_nav{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
	margin-top: 20px;
}

#dsdocsearch_nav a,#dsdocsearch_nav a:visited{
	color: #BF650F;
	text-decoration:none;
}
#dsdocsearch_nav a:hover, #dsdocsearch_nav a:focus{
	color: #562E18;
	text-decoration:underline;
}

.dsdocsearch_nav_active{
	border:1px solid #BF650F;
	padding-left:3px;
	padding-right:3px;
}

#dsdocsearch_legend{
	margin-top:-20px;
	color:#7B7B7B;
	font-size: 8pt;
	padding-bottom:10px;
}

/*Loading ----------------------------------------*/
#dsdocsearch_loading{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	padding: 30px 30px;
	text-align:justify;
	border:1px solid #7B7B7B;
}

#dsdocsearch_loading_title{
	font-size: 12pt;
	font-weight:bold;
}
