/* 3DS Fonts */

@font-face {
  font-family: "3DS Light";
  src: url('3ds-Light.eot');
  src: url('3ds-Light.eot?#iefix') format('eot'), url('3ds-Light.svg') format('svg'), url('3ds-Light.woff') format('woff'), url('3ds-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "3DS Regular";
  src: url('3ds-Regular.eot');
  src: url('3ds-Regular.eot?#iefix') format('eot'), url('3ds-Regular.svg') format('svg'), url('3ds-Regular.woff') format('woff'), url('3ds-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

span.apps {
    font:normal normal normal 12px/14px "3DS Regular", Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
span.appsmenu {
	position: relative;
	bottom : 14px;	
}
span.menu {
    font:normal normal normal 14px/16px "3DS Regular", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
td.center {
	text-align: center;
}
td.nowrap {
	white-space: nowrap;
}
table.noborder tr td {
	border: 0px black hidden;
	border-collapse: collapse;	
}
/* 
	//  11th March 2011
	//	Color changes for new DS4 graphics charter - MTN
*/

body {
	font-family: Verdana, Helvetica, sans serif;
	font-weight: normal;
	color: #000000;
	background: white;
	font-size: 8pt;
	}

table.table1 {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	table-layout: fixed;
	}

div#layermerge {
    visibility: hidden;
    } 

/* _________________________________________________________________________________________________ */
/*              Doc Header                                                                           */
/* _________________________________________________________________________________________________ */
table.DocHeader {
	width: 100%;
	background-color: white; 
	margin-top: 0px;  
	margin-left: 0px;
	}
	
/* ----------- Doc Header  ---   H1 Heading --------*/	
td.DocHeader1 { 
	background-color: #72797F;       
	width: 100%;
	}
	
/*________________________ Separator, empty cell  _______________________*/
td.DocHeader4 {                 
    background-color: white;
	height: 8px;
	font-size: 2pt;
	}
	
/*  -------- Doc Header ----- Introduction   --------*/
td.DocHeader3 { 
	background-color: white;    
	border: 0px solid white ; 
   	height: 100%;
   	width: 74%;
	vertical-align: top;
	margin-top: 20pt;
	margin-bottom: 0pt;    
	}
	
table.DocHeaderIntro {
	width: 98%;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid  #C8CCCE;
	border-collapse: collapse;
	border-spacing: 0; 
	background-color: #F9F9F9;
	}
 
table.DocThemeIntro {
	width: 100%;
	vertical-align: top;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid  #C8CCCE; 
	background-color: #F9F9F9;  
	}

td.Intro1 { 
   	height: 100%;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
/*	color:   #4B575F; ------------ no impact */
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 4px;
	}

td.Intro1Only { 
	height: 100%;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
/*	color:   #4B575F;     */
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
 	}

td.Intro2 { 
	height: 100%;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
 	color:   #4B575F;             
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
 	}

td.Intro1 ul {
	margin-right: 0px;
	line-height: 12px;    
	} 
td.Intro1Only ul {
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 12px; 
	} 
td.Intro2 ul {
	margin-right: 0px;
	line-height: 12px;    
	} 

/*-------------Special para. tag for header ------------------ */
p.header {
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-weight: normal;
	color: #4B575F;   
	font-size: 8pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	margin-right: 0pt;
	}


td.Intro1Only p {
	color: #4B575F;   
	margin-left: 0pt;
	margin-bottom: 0pt;
	}
td.Intro1Only ul {
	color: #4B575F;   
	}
td.Intro1Only ul p {
	margin-top: 0pt;
	}
td.Intro1Only p.header {
	margin-bottom: 6px;
	}
/* eliminates unwanted vertical space when p followed by br rather than p around br */
td.Intro1Only br {
	line-height: 0;
	}
td.Intro1 br {
	line-height: 0;
	}
td.Intro2 br {
	line-height: 0;
	} 

td.Intro1 p {
	color: #4B575F;   
	margin-left: 0pt;
	margin-bottom: 0pt;
	}
td.Intro1 ul {
	color: #4B575F;   
	}
td.Intro1 ul p {
	margin-top: 0pt;
	}
td.Intro2 p {
	color: #4B575F;   
	margin-left: 0pt;
	margin-bottom: 0pt;
	}
td.Intro2 ul {
	color: #4B575F;   
	}
td.Intro2 ul p {
	margin-top: 0pt;
	}
td.Intro2 p.themes {
	margin-left: 22px;
	padding-left: 15px;
	}
td.Intro2 p.usertasks {
	margin-left: 22px;
	padding-left: 15px;
	}

/*-------------Horizontal line in header ------------------ */
hr.header {
	color:  #C8CCCE; 
	background-color:  #C8CCCE;    
	height: 1pt; 
	margin-top: 0px;
	}

/* _________________________________________________________________ */
/*        Doc Header       Navigation box                            */
/* _________________________________________________________________ */
td.DocHeader2 { 
	width: 26%;	
	background-color: #FFFFFF;   
	padding: 0px;
	vertical-align: top;
  	}
/*  added extra 1px to width because had to increase border width to be able to see it after setting the
	default table with a left-margin  -  previous border value FDE2C7*/
table.DocTopics {
	width: 100%;
	background-color: #EAECED;
	border: 5px solid #EAECED;      
	font-family: Verdana, Helvetica, sans serif;
	font-size: 7pt;
	margin-top: 0px;
	margin-left: 0px;
 	}
table.DocTopics td
	{
	font-size: 7pt; 
	padding: 1px;        
	}
/* _________________________________________________________________________________________________ */
/*              Related topics title                                                                 */
/* _________________________________________________________________________________________________ */
td.TopicsTitle { 
	font-family: Verdana, Helvetica, sans serif;
	font-weight: bold;
	color: #4B575F;       
	}
/*              Related topics in other guides (SIMULIA request)                                     */
td.TopicsTitleNormal {
	margin-top: 30px;
	font-family: Verdana, Helvetica, sans serif;
	font-weight: normal;
	color: #4B575F;       
	}
/* _________________________________________________________________________________________________ */
/*              Headings                                                                             */
/* _________________________________________________________________________________________________ */
h1 {
	font-weight:  normal ; 
	font-family: Arial;  		
	font-size: 16pt; 
	color:  #FFFFFF;        
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	}
h2 {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 13pt;              
	font-weight: normal; 
	color: #4B575F;         
	margin-top: 4pt; 
	margin-bottom: 2pt; 
	margin-left: 4px;
	text-align: left;
	padding-top: 5px;
	}
h2 span.uicontrol { 
	font-size: 13pt; 
	font-weight: normal; 
	letter-spacing: 0em; 
	color: #4B575F;
	}
h2 span.menucascade { 
	font-size: 13pt; 
	letter-spacing: 0em; 
	font-weight: normal; 
	color: #4B575F;
	}
h3{
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #828B90;     	
	margin-top: 2pt; 
	margin-bottom: 2pt; 
	text-align: left;
	margin-left: 4px;
	padding-top: 5px;
	}
h3 span.uicontrol { 
	font-size: 10pt; 
	letter-spacing: 0em; 
	color: #828B90;
	}
h3 span.menucascade { 
	font-size: 10pt; 
	letter-spacing: 0em; 
	color: #828B90;
	}
h4{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	font-weight: bold; 
	color:   #828B90;        
	margin-top: 2pt; 
	margin-bottom: 0pt; 
	margin-left: 4px;
	text-align: left;
	padding-top: 5px;
	}
h4 span.uicontrol { 
	letter-spacing: 0em; 
	color: #828B90;
	}
h4 span.menucascade { 
	letter-spacing: 0em; 
	color: #828B90;
	}
h5{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	font-weight: normal; 
	color:   #828B90;        
	margin-top: 2pt; 
	margin-bottom: 0pt; 
	margin-left: 4px;
	text-align: left;
	padding-top: 5px;
	}
h5 span.uicontrol { 
	letter-spacing: 0em; 
	color: #828B90;
	font-weight: normal; 
	}
h5 span.menucascade { 
	letter-spacing: 0em; 
	color: #828B90;
	font-weight: normal; 
	}


/* ________________________________________________________ */
/*    Horizontal line -                                     */
/* pb when use simple hr - cancels set page width!    */
hr.line {
	color: #C8CCCE; 
	background-color: #C8CCCE;
	width: 400px;
	height: 1pt;
 	text-align: center;
	} 

/* _________________________________________________________________________________________________ */
/*                                         le texte de base    oo                                    */
/* _________________________________________________________________________________________________ */

p  {
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-weight: normal;	
	color: #000000;  
	font-size: 8pt;
	margin-left: 30pt;
	margin-right: 15pt;
	margin-top: 5pt;
	margin-bottom: 0pt;
	}
/*
li p {
	margin-bottom: 6pt;
} */
/* removes unwanted extra space when p followed by /br - br added by XMetaL by default on publish */
p > br:first-child {
	line-height:0;
	} 
/* removes unwanted extra space when p followed by /br and p around /br NEED TO CHECK NO OTHER IMPACTS - br added by XMetaL by default on publish */
div br
	 {
	line-height:0;
	} 
/* Resets margin of Normal when in li - for tables in numbered lists */
li p
	{
	margin-left: 0px;
	}
li table {
	margin-left: 0px;
	}

/*   XMETAL - img in a p - BUT messes up top margin for tasks with command icons --- */
/*   PSR - Comment out to avoid Automation diagrams to be exploded */
/*   use new selector for attribute containing a string - use * - to adjust for icons in tasks - */
/*p IMG {
	margin-top: 5px;
	}
*/
/* p IMG[src^="../../../ICONS"] {
	margin-top: 0px;
	} */
li.stepexpand IMG[src*="ICONS"] {
	margin-top: 0px;
	} 

 
/* ______________________________________________________________________ */
/*                                         Numbered List                  */
/* __________________________________________________________ ___________ */
/* ________margin-bottom added to ol to reduce top margin of p.result_________*/

ol { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt;
	margin-bottom: 0px;
	}


ol ol { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt;
	list-style-type: lower-alpha;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 30px;
	margin-right: 15px;
	padding: 0px;
	}

/*   Apply Normal.task first, then Numbered List.task   */          		
ol.task {	
	font-family: Verdana, Helvetica, sans serif;	
	font-size: 8pt; 
	line-height: 10pt; 
	font-weight: bold;
	color: #025BB5; 
	list-style-type: decimal;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
		} 

/*   XMETAL --------------------------*/          		
li.stepexpand {	
	font-family: Verdana, Helvetica, sans serif;	
	font-size: 8pt; 
	line-height: 10pt; 
	font-weight: bold;
	color: #4B575F; 
	list-style-type: decimal;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
		} 

li.stepexpand ul {	
	font-weight: normal;
	color: #000000; 
	margin-left: 0px;
		} 
li.stepexpand ol {	
	font-weight: normal;
	color: #000000; 
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 30px;
	margin-right: 15px;
	padding: 0px;
		} 
li.stepexpand p {	
	font-weight: normal;
	color: #000000; 
		}
/*_____ to increase spacing in UL and OL sublists in task _______ */
li.stepexpand li {	
	margin-top: 2pt;
		}  

/*_____ adjustment for stepresult in substeps_______ */
li.substepexpand p {	
	margin-top: 0px;
	margin-bottom: 3px;
		} 


/*_____ Bulleted lists _______ */
ul {
	list-style-type: disc;
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt;  
	padding-top:    0px;
	padding-bottom: 2px;
	padding-left: 30px; 
	padding-right: 10px;
	margin-left: 40px;
	margin-right: 15px;
	margin-top: 5pt;
	margin-bottom: 0pt;
	}
ul ul {
	margin-left: 0px;
	margin-top: 2px;
	}
ul ul ul {
	margin-left: 0px;
	margin-top: 2px;
	}
/* to increase spacing in UL lists in concept and reference topics */
ul li {	
	margin-top: 1pt;
		}  
ol.task ul {
	margin-left: 0px;
	} 

/* For left margin of single steps, shown as bullets */
div.p ul {
	margin-left: 10px;
	}
/* For images in single steps */
div.p ul>li img {
	margin-top: 0pt;
	margin-left: 0px;
	} 

/* NB. div of class p is used elswhere by default, see dita2htmlImpl.xsl */
/* For images in prereq that displayed after header and before steps */
div.p img {
	margin-top: 5pt; 
	margin-left: 30pt;
	}   

/* Added PSR */
ol.task ul,ol {
	color: black;
	font-weight: normal;
}
ol.task ul {
	color: black;
}

ol.task pre {
	color: black;
}

ul ol.task1 {
	list-style-type: lower-alpha;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt;
	line-height: 10pt;
	font-weight: bold;
	color: #025BB5;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
}


ol.task  ol.task1 {
	list-style-type: lower-alpha;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt;
	line-height: 10pt;
	font-weight: bold;
	color: #025BB5;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
}

ul.wide {
}
ol.wide {
}

ul.wide li {
	margin-bottom: 5pt;
}
ol.wide li {
	margin-bottom: 5pt;
}

/* End PSR Addition */

/* ---------------------------------------------------- */
/* Tables                                                */
/* ---------------------------------------------------- */
/* --- top margin in table so that table after step aligns correctly ---- */	
table {border-collapse: collapse;
	margin-top: 5px;
	margin-left: 40px;
	}
td {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal;
	}
td.code2 {
	border:2px solid #FFFFFF; 
	background-color: #F2F2F2;
	padding: 2px;
	vertical-align: top
	 }
td.code {
	border:2px solid #FFFFFF; 
	background-color: #E0E0E0;
	padding: 2px;
	vertical-align: top
	 }
td.normal {}


/*   for XMETAL - same as code2 - for reference tables */           		
td.cellrowborder {
	border:2px solid #FFFFFF; 
	background-color: #F2F2F2;
	padding: 2px;
	vertical-align: top;
	color: #000000;
	 }
td.cellrowborder p {
	margin-left: 0;
	} 
td.cellrowborder ul {
	margin-left: -8px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	} 

/*   XMETAL - manage space for tables without borders --*/        	

td.nocellnorowborder p {
	margin-left: 0;
	} 
td.nocellnorowborder ul {
	margin-left: -8px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	} 
td.cell-norowborder p {
	margin-left: 0;
	} 

th {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold;
	text-align: left;
	color: #4B575F;
	background-color: #E0E0E0; 
	border:2px solid #FFFFFF; 
	height: 20px;
	padding: 2px; }
th.normal {}
 
/* ---------------------------------------------------- */
/* InterfaceDesc tables used for menubar and toolbar descriptions */
/* ---------------------------------------------------- */
table.InterfaceDesc {
	margin-left: 4px;
	width: 492px;
	margin-top: 5px;
	} 
/*   used in InterfaceDesc tables only  */           		
td.padding {
	padding: 2px;
	vertical-align: top; 
	}
/*   p in InterfaceDesc table for menubar and toolbar descriptions */ 
td.padding p {
	margin-left: 0pt;
	margin-top: 0pt;
	margin-bottom: 2pt;
	}
/*  eliminates unwanted space in InterfaceDesc --*/ 
td.padding br {
	line-height:0;
	}

/* Added PSR */
table.fill td {
	border: 2px solid #FFFFFF;
	background-color: #F2F2F2;
	padding: 2px;
	color: #000000;
}

table.fill ol {
	margin-left: 0px;
}
table.fill ol.task {
	margin-left: 30px;
}
table.fill ul {
	margin-left: 0px;
}
table.fill td.heading1 {
	background-color: #9F9F9F;
	border: 1px solid #B2B2B2;
	color: #FFFFFF;
	font-weight: bold;
}

/* End PSR Addition */
/* _______________________________________________________________________________ */
/*                       Information Boxes                                         */
/* reduced from 435 to 431 because created a horizontal scrollbar when in OL.task  */
/* Note: inside OL task and under P, the size and left-margin are same                 */
/* _______________________________________________________________________________ */

table.Remark {
	background-color:  #F9F9F9;  
	border: 1px solid   #C8CCCE;
	width: 86%;
	margin-left: 40px;
	margin-top: 8px;
	}
/* td.remark {
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt; 
	color:  #025BB5;   
	text-align: justify;
	padding-top:    0px;
	padding-bottom: 4px;
	padding-left : 10px;
	padding-right: 10px;
 	} */
ol.task table.Remark{
	margin-left: 0px;
	}		
td.Remark { 
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt; 
	color:  #4B575F;   
	text-align: left;
	padding-top:    0px;
	padding-bottom: 4px;
	padding-left : 10px;
	padding-right: 10px;
 	}
td.Remark p { 
	color:  #4B575F;  
	margin-left: 0px; 
	} 
td.Remark ul p {
	margin-top: 0pt;
	}
td.Remark ul {
	list-style-type: disc;
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt;  
	color:  #4B575F; 
	margin-top:    3pt;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 40px;
	padding-top:    0px;
	padding-bottom: 0px;
	padding-left :  10px;
	padding-right: 10px;
	} 
/* left margin set for IE7 ; out in Firefox3 which needs only 10px - don't know how to get both right */
td.Remark ol {
	margin-left: 50px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-right: 10px;
	list-style-type: decimal;
	color:  #4B575F; 
	} 

/* to set width for information box when inside UL / OL OL - otherwise exceeds 500px */
ol table.Remark {
	width: 86%;
	margin-left: 0px;
	color:  #4B575F; 
	} 
ul table.Remark {
	width: 86%;
	margin-left: 0px;
	color:  #4B575F; 
	} 
ol ol table.Remark {
	width: 86%;
	margin-left: 0px;
	} 
p.result table.Remark {
	margin-left: 0px;
	}
p table.Remark {
	margin-left: 0px;
	}
li.stepexpand table.Remark {
	margin-left: 0px;
	} 

/*   XMETAL for figures - figcap same as run-in; use class on div for top/bot margins */          		
span.figcap {
	font-weight:bold;
	color: #4B575F; 
	font-size: 8pt;
	}
div.fignone {
	margin-left: 30pt;
	margin-right: 15pt;
	margin-top: 5pt;
	margin-bottom: 0pt;
	} 

/* ----Font Overwrite ---------*/
/* ----------------------------*/
/* -----run-in tag ------------*/
span.run-in {
	font-weight:bold;
	color: #4B575F; 
	font-size: 8pt;
	}

/*   XMETAL domain elements   */          		
span.uicontrol { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	}
span.wintitle { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	}
span.menucascade { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	}
span.shortcut { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	}
span.cmdname { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	}
span.parmname { 
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
pre.codeblock {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	position: relative;
	margin-top: 5px;
	margin-bottom: 0px; 
	} 
pre.codeblock samp.codeph {
	font-weight: 600;
	}
pre.codeblock span.parmname {
	font-weight: 600;
	}
div td pre.codeblock {
	margin-left: 0pt;
	margin-right: 0pt;
	}
div pre.codeblock {
	margin-left: 30pt;
	}
ol pre.codeblock {
	margin-left: 0pt;
	}
samp.codeph {
	color: #976970;  
	font-family: Courier New, Courier; 
	letter-spacing: -0.05em;  
 	font-size: 8pt; 
	font-weight: normal; 
	}
var { 
	font-style: italic;
	}
var.varname { 
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
tt.msgph {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
pre.msgblock {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	margin-left: 30pt;
	margin-right: 15pt;
	margin-top: 5px;
	margin-bottom: 0px;
	}
td pre.msgblock {
	margin-left: 0pt;
	margin-right: 0pt;
	}
div.section pre.msgblock {
	margin-left: 30pt;
	}
div.example pre.msgblock {
	margin-left: 30pt;
	}
tt.sysout {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
kbd.userinput {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em; 
	font-size: 8pt;
	font-weight: normal;
	}
span.filepath {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}		


/* -----commands, menu items, etc. ---------*/
kbd { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	}

table.Remark span.uicontrol {
	color: #7D7D7D;
	}
table.Remark span.cmdname {
	color: #7D7D7D;
	}
table.Remark span.wintitle {
	color: #7D7D7D;
	}
table.DocHeader span.uicontrol {
	color: #7D7D7D;
	}
table.DocHeader span.cmdname {
	color: #7D7D7D;
	}
table.DocHeader span.wintitle {
	color: #7D7D7D;
	}


/* ----- code ---------*/
code {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 9pt;
	font-weight: normal;
	}

/* ----- subscript/superscript ---------*/
sub {	font-size: 7pt;}
sup {	font-size: 7pt;}


/* Used for preformatted text */
pre { font-family: Courier New, Courier; 
	font-weight: normal; 
	}
/* Used to high-light the Search result */
strike.search{ font-family: Verdana, Helvetica, sans serif; 
	color: #FFFFFF; 
	background: #111199; 
	text-decoration: none; 
	}


/* Definition Lists */
/* ============================== */
/* --- general dl defined with left margin ; see below for special dl.wn and dl.uicontrol ; glossary handled differently in XMetaL ----- */
dl { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal; 
 	margin-right: 35px;
 	margin-bottom: 0px;
 	/* margin-left: 40px; - seems to have no effect */
margin-left: 40px;
 	margin-top: 5px;
	}
dl dl { 
 	margin-left: 0px; 
	margin-top: 5px;
	}

dl table {
	margin-left: 0px;
	}

/* Definition Term */
/* --------------- */
dt { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	color: #404040;  
	font-weight: bold; 
	}
dt.pt { 
	font-family: Verdana, Helvetica, sans serif; 
	color: #976970;  
	font-size: 8pt; 
	font-weight: normal;
	}

/* Added PSR - Referred to, but not defined in product documentation */
dt.dlterm { 
	font-family: Verdana, Helvetica, sans-serif; 
	font-size: 8pt; 
	color: #4B575F;  
	font-weight: bold; 
	}

/* Definition Definition */
/* --------------------- */
dd { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal;
	color: #000000;
	margin-bottom: 3px;
	margin-left: 30px;
	margin-top: 3px;
	}
dd p { 
	margin-left: 0px;
	margin-top: 3px;
	}
/* same margin-left for ul as when in a p */
dd ul
	{ 
	margin-left: 0px;
	margin-top: 2px;
	}
dd ol
	{ 
	margin-left: 38px;
	margin-top: 2px;
	}
dd ol li
	{ 
	padding-left: 0px;
	}
/* adjust margins and width of information boxes in dl lists */
dd table.Remark {
	margin-left: 0px;
	width: 383px; 
	} 
dd dd table.Remark {
	width: 360px; 
	} 


/* Definition: used in what's new */
/* ============================== */
/* special class for dl in what's new */
/* --------------- */
dl.wn { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal; 
 	margin-right: 35px;
 	margin-bottom: 0px;
 	margin-left: 5px;
 	margin-top: 5px;
	}

/* dt in what's new */
/* --------------- */
dl.wn dt { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	color: #202020;  
	font-weight: normal; 
	}


/* used in settingsdescription and uidescription templates */
/* ============================== */
/* special class dl.uicontrol to set dt to uicontrol definition */
/* --------------- */

dl.uicontrol dt { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 10pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #757E84;
	margin-bottom: 8px;
	}
dl.uicontrol dl dt { 
	font-size: 8pt; 
	margin-bottom: 3px;
	}
dl.uicontrol dd { 
	margin-bottom: 8px;
	}
dl.uicontrol dd.ddexpand { 
	margin-top: 0px;
	}



/* _______________________________________________________________________________________________________ */
/*      LINKs                                                                                              */
/* _______________________________________________________________________________________________________ */


a:link {
	color: #FF7900;
	text-decoration: underline; 
	}
                       
a:visited  {
	color: #BF650F;
	text-decoration: underline; 
	}
	
/* Nielson: makes page more cluttered - but important for related topics because of small margins */
a:hover  {
	background: #FFFFFF; 
	color: #562E18; 
	text-decoration: underline; 
	} 
/*   PSR - Comment out to avoid borders in images used in links */
/*
a:link IMG {
	border: #F27A02; 
	border-width: 1px;
	border-style: solid;
	}

a:visited IMG {
	border: #B60202; 
	border-width: 1px;
	border-style: solid;
	} 

a:hover IMG {
	border: #E0EEFF; 
	border-width: 2px;
	border-style: solid;
	} 
*/
/*   PSR - Add to avoid borders in images used in links */
a:link IMG {
	border-width: 0px;
	}

a:visited IMG {
	border-width: 0px;
	}

a:hover IMG {
	border-width: 0px;
	}
/*   PSR - Add to avoid borders in images with maps */
img {
	border-width: 0px;

}
/* March 2009 */
a:link span.uicontrol { 
	color: #F27A02;
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:visited span.uicontrol { 
	color: #B60202;
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:link span.menucascade { 
	color: #F27A02;
	font-weight: normal; 
	letter-spacing: 0em; 
	}
a:visited span.menucascade { 
	color: #B60202;
	font-weight: normal; 
	letter-spacing: 0em; 
	}

/* ========================================================== */
/* ====== no underline in site map ======================== */
/* ========================================================== */
p.ssm1 a:link {
	text-decoration: none; 
	}
p.ssm2 a:link {
	text-decoration: none; 
	}
p.ssm1 a:visited {
	text-decoration: none; 
	}
p.ssm2 a:visited {
	text-decoration: none; 
	}
	
/* ====== Graphic for links in themes ================== */
/* ===================================================== */
p.themes a:hover
	{
	background-image: url('IconsReference/minitoc.gif');
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	text-decoration: underline;
	}

p.themes a:visited
	{
	background-image: url('IconsReference/minitoc.gif');
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	text-decoration: underline;
	}

p.themes a:link
	{
	background-image: url('IconsReference/minitoc.gif');
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	text-decoration: underline;
	}

p.themes a
	{
	background-image: url('IconsReference/minitoc.gif');
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	text-decoration: underline;
	}

/* used in the TOC */
/* --------------- */
p.toc {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal;
	font-size: 8pt; 
	margin-top:0pt;
	margin-bottom: 0pt; 
	margin-left: -4pt;}
/* used in the Site Map */
/* ----------------------------- */
p.ssm1 {font-family: Verdana, Helvetica, sans serif;
	font-weight: bold; 
	font-size: 7pt; 
	margin-left: 0;
	margin-top: 9pt;
	margin-bottom: 1pt; }
p.ssm2 {font-family: Verdana, Helvetica, sans serif;
	font-weight: normal;
	font-size: 7pt;
	margin-top:0pt;
	margin-bottom: 1pt; }
/* used in the Index */
/* ----------------- */
p.glossaryheader {
	font-family: Verdana, Helvetica, sans serif;
	font-weight: normal; 
	font-size: 10pt; 
	text-align: center;
	}

p.glossaryletter {
	font-family: Verdana, Helvetica, sans serif;
	font-size: 14pt; 
	font-weight: normal; 
	text-align: center;
	color:   #4B575F;        
	margin-top: 20px; 
	margin-bottom: 0px; 
	}

td.Intro1Only p.glossaryheader 
	{
	margin-left: 10px;
	} 
p.ix1 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 8pt; 
	margin-left: 10pt; 
	margin-top:0pt; 
	margin-bottom: 2pt; }
p.ix2 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 8pt; 
	margin-left: 50pt; 
	margin-top:0pt; 
	margin-bottom: 2pt; }

/* Added PSR */
caption {
	font-weight: bold;
}

table.fill table {
	margin-left: 0px;
}

table.fill ol {
	margin-left: 0px;
}

table.fill ul {
	margin-left: 0px;
}

table.fill p {
	margin-left: 0px;
}

table.fill td.GASDone {
	background-color: #00FF7F;
}

table.fill td.GASGreen {
	background-color: #128931;
	text-align: center;
	color: white;
}

table.fill td.GASRed {
	background-color: #FF0000;
	text-align: center;
	color: white;
}

table.fill td.GASOutD {
	background-color: #2A55FF;
}

table.fill td.GASOutI {
	background-color: #CC99FF;
}

table.fill td.GASYellow {
	background-color: #FFFF00;
}

table.fill td.GASOrange {
	background-color: #FF8E00;
}

/* PSR to have CAA pre in DSDoc.css */
/* Used for preformatted text */

table pre {
	margin-left: 0px;
}
li pre {
	margin-left: 0px;
}

pre.code {
font-family: Courier New, Courier;
	font-size: 9pt;
	font-weight: normal;
 	margin-left: 40px;
 	margin-top: 5px;
 	margin-bottom: 5px;
/*	border:2px solid #FFFFFF;  */
/*	background-color: #E0E0E0; */
/*	border: 1px solid  #D2E6FE;
	background-color: #F8FBFF; */
	border: 1px solid  #C8CCCE;
	background-color: #F9F9F9;
	padding: 2px;
	vertical-align: top;
}

table.fill pre.code {
	margin-left: 0px;
}

li pre.code {
	margin-left: 0px;
}

p.copyright {
	margin-left: 0px;
	font-family: 3DS Regular, Verdana, Helvetica, sans serif;
	font-size: 1.1em;
	color: #AAA;
}
span.copysup {
	vertical-align: super;
	position: relative;
	font-size: 0.8em;
}

